# Ignore pycache and __init__.py
.pytest_cache/
src/__init__.py
src/__pycache__

# Ignore unused file extensions
.vscode/
*.swp
*.pyc

# Ignore generated datasets folder
datasets/

# Ignore generated models
train/trained-models/
train/events/
train/config/
train/opencv/

# Ignore run file which includes black and flake8-black calls before run.py
test.sh